<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <h1><%= title %></h1>

    <div class="container">
      <h2>Your Goals</h2>
      <ul>
        <% goals.forEach(goal => { %>
          <li>
            <strong><%= goal.title %></strong>  
            - Target: <%= goal.target_hours %> hrs  
            - Logged: <%= goal.logged_hours %> hrs
          </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>

